body {
    margin: 0px;
    padding: opx;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); // nos hará breakpoints cada 300px
  }